body {
    color: #000000;
    background-color: #E6E6E6;
}

.navbar {
    color: #66523D;
    background-color: #CCA37A;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    border-radius: 40px;
}

.navelement{
    color: #66523D;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.title{
    color: #66523D;
    background-color: #CCA37A;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border-radius: 40px;
}

.header{
    color: #66523D;
    background-color: #CCA37A;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border-radius: 40px;
}

.paragraph{
    color: #666666;
    background-color: #CCCCCC;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-align: justify;
}

.intro{
    color: #66523D;
    background-color: #CCA37A;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    border-radius: 40px;
}